<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">

<dict>
    <key>CFBundleDisplayName</key>
    <string>Unipro UGENE</string>

    <key>CFBundleName</key>
    <string>UGENE</string>

    <key>CFBundleIconFile</key>
    <string>ugeneui.icns</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleGetInfoString</key>
    <string>Unipro UGENE</string>
    
    <key>CFBundleSignature</key>
    <string>Unipro, Russia</string>

    <key>CFBundleExecutable</key>
    <string>ugeneui</string>

</dict>
</plist>
